 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    body{
            background-color: black;
        }
    .container{
            width: 99vw;
            height: 300vh;
            background-color: rgb(11, 7, 7);
            border: 5px solid white;
        }
        
        .header{
            margin-left: 45%;
            margin-top: 10px;
        }
        .header h1{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 50px;
            color: greenyellow;
            opacity: 100%;
            margin-top: 15px;
            
        }
        .header h3{
            font-size:x-large;
            color: red;
            align-content: center;
        }
        .upper{
            display: flex;
            font-size: 30px;
            
        }  
        .topleft{
            font-size: 100px;
            color: greenyellow;
            display: flex;
            gap: 80px;
            font-size: medium;
            margin-top: 40px;
            margin-left: 50px;
            font-family: 'Times New Roman', Times, serif;

        }
        .topright{
            color: greenyellow;
            display: flex;
            gap: 80px;
            font-size: medium;
            margin-top: 40px;
            margin-left: 50%;
            font-family: 'Times New Roman', Times, serif;

        }
        .main{
            display:flex;
        }
    
        .main h1{
            margin-top: 80px;
            color: greenyellow;
            opacity: 80%;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
            font-size: 300px;
            margin-bottom: 0;   /* remove gap below WE */
            line-height: 1;
            margin-left: 30px; 
        }
        .main h3{
            color: red;
            opacity: 60%;
            font-family:fantasy;
            font-size: 180px;
            margin-top: 180px;    /* small controlled gap */
            line-height: 1;
            margin-left: 100px;
        
            
        }
        /* Typewriter effect for believe */
        .typewriter-text {
            overflow: hidden;
            white-space: nowrap;
            width: 0;
            animation: typing 3.9s steps(12, end) infinite;
                    
        }

        /* typing animation */
        @keyframes typing {
            from { width: 0 }
            to { width: 8ch }
        }

         .typewriter-text1 {
            overflow: hidden;
            white-space: nowrap;
            width: 0;
            animation: typing 5s steps(4, end) infinite;
        }

        /* typing animation */
        @keyframes typing {
            from { width: 0 }
            to { width: 8ch }
        }
        .secondary{
            display: flex;
        }
        
        .secondary h1{
            font-size: 280px;
            margin-top: 0px;
            margin-left: 30px;
            color: red;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
         .secondary h3{
            margin-top: 40px;

            font-size: 300px;
            margin-left: 30px;
            color: greenyellow;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        blockquote{
            color: bisque;
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            margin-left: 35%;
            margin-top: 50px;
        }
        .quote-box{
                        
            margin: 100px auto;      
        }

        .quote-text{
            text-align: center;
            font-family: 'Dancing Script', cursive;
            font-size: 50px;
            color: white;
        }

        .author{
            text-align: right;
            font-size: xx-large;
            color: antiquewhite;
            margin-top: 10px;
            opacity: 0.7;
            margin-right: 32%;
            font-family: 'Bebas Neue', sans-serif;
        }


        
      
