        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
        
        background-image: linear-gradient((90deg,rgba(0, 0, 0, 1) 0%, rgba(110, 35, 35, 1) 58%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%));        
        }
        .container{
            width: 99vw;
            height: 200vh;
            background-color: rgb(11, 7, 7);
            border: 5px solid white;
        }
        
        .header{
            margin-left: 47%;
            margin-top: 0px;
        }
        .header h1{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 50px;
            color: greenyellow;
            opacity: 100%;
            margin-top: 5px;
            
        }
        .header h3{
            font-size:x-large;
            color: red;
            align-content: center;
        }
        .upper {
        display: flex;
        justify-content: space-between; /* left & right on same line */
        align-items: center;
        padding: 40px 60px;
        
        }
            
        
        .topleft {
        display: flex;
        gap: 80px;
        }

        .topleft h3 {
            color: greenyellow;
            font-size: medium;
            font-family: 'Times New Roman', Times, serif;
        }

          
        .topright {
        display: flex;
        gap: 80px;
        }

        .topright h3 {
        color: greenyellow;
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
        }

        .main{
            display:flex;
        }
    
        /*.main h1{
            margin-top: 80px;
            color: greenyellow;
            opacity: 80%;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
            font-size: 300px;
            margin-bottom: 0;   
            line-height: 1;
            margin-left: 30px; 
        }
        .main h3{
            color: red;
            opacity: 80%;
            font-family:fantasy;
            font-size: 180px;
            margin-top: 180px;    
            line-height: 1;
            margin-left: 100px;
        
            
        }
        
            overflow: hidden;
            white-space: nowrap;
            width: 0;
            animation: typing 3.9s steps(12, end) infinite;
                    
        }

       
        @keyframes typing {
            from { width: 0 }
            to { width: 8ch }
        }

         .typewriter-text1 {
            overflow: hidden;
            white-space: nowrap;
            width: 0;
            animation: typing 5s steps(4, end) infinite;
        }

      
        @keyframes typing {
            from { width: 0 }
            to { width: 8ch }
        }
        .secondary{
            display: flex;
        }
            */
        
        .secondary h1{
            font-size: 200px;
            margin-top: 25.5%;
            text-align: center;
            color: red;
            opacity: 90%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
         .secondary h3{
            margin-top: 10px;

            font-size: 300px;
            margin-left: 30px;
            opacity: 80%;
            color: greenyellow;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        blockquote{
            color: bisque;
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            margin-left: 35%;
            margin-top: 50px;
        }
        .quote-box{
                        
            margin: 20px;      
        }

        .quote-text{
            text-align: center;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 100px;
            color:rgb(255, 0, 0);
            opacity: 90%;
            margin-top: 0%;
        }

        .author{
            text-align: right;
            font-size:50px;
            color: rgb(255, 230, 0);
            font-style: normal;

            margin-top: 10px;
            opacity: 90%;
            margin-right: 1%;
            font-family: 'Bebas Neue', sans-serif;
        }
              
        .cardsMTW{
            margin-top: 0%;
            display:flex;
            margin-left: 15%;
            gap: 80px;
            margin-top: 1px;
            
        }
       
        .monday{
            border-radius: 20%;
            border-color: rgb(255, 0, 0);
            border: 100px;
            height: 300px;
            width: 300px;
            
            
        }
        .monday h2{
            text-align: center;
            color: rgb(255, 255, 0);
            font-size: 30px;
        }

        .tuesday{
            border-radius: 20%;
            border-color: red;
            border: 100px;
            height: 300px;
            width: 300px;            
        }
        .tuesday h2{
            text-align: center;
            color:rgb(255, 255, 0);
            font-size: 30px;
        }

        .wednesday{
            border-radius: 20%;
            border-color: red;
            border: 100px;
            height: 300px;
            width: 300px;
            
        }
        .wednesday h2{
            text-align: center;
            color: rgb(255, 255, 0);
            font-size: 30px;
        }
        .thursday{
            border-radius: 20%;
            border-color: red;
            border: 100px;
            height: 300px;
            width: 300px;
        
        }
        .thursday h2{
            text-align: center;
            color: rgb(255, 255, 0);
            font-size: 30px;
        }
       
        .cardsss{
            margin-top: 0%;
            display:flex;
            margin-left: 24%;
            gap: 100px;
            
        }
         .friday{
            border-radius: 20%;
            border-color: red;
            border: 100px;
            height: 300px;
            width: 300px;
        }
        .friday h2{
            text-align: center;
            color: rgb(255, 255, 10);
            font-size: 30px;
        }
        .saturday{
            border-radius: 20%;
            border-color: red;
            border: 100px;
            height: 300px;
            width: 300px;
            
        }
        .saturday h2{
            text-align: center;
            color: rgb(255, 255, 0);
            font-size: 30px;
        }


        .sunday{
            border-radius: 20%;
            border-color: red;
            border: 100px;
            height: 300px;
            width: 300px;
            
        }
        .sunday h2{
            text-align:center;
            color: rgb(255, 255, 5);
            font-size: 30px;
        }
        .monday img,
        .tuesday img,
        .wednesday img,
        .thursday img,
        .friday img,
        .saturday img,
        .sunday img {
            width: 55%;
            height: 60%;
            object-fit:none;        /* no stretching */
            border-radius: 14px;
        }
        .hero {
            position: relative;
            width: 100%;
            height: 100vh;     /* this covers ALL the part you showed */
            overflow: hidden;
        }

        .bg-video {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 50;

            width: 100%;
            height: 100%;
            object-fit: cover;

            z-index: 1;
        }

        /* put ALL content above video */
        .hero > div {
            position: relative;
            z-index: 2;
        }
        .hero,
        .hero2 {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        .bg-video {
            opacity: 40%;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }

        .hero > div,
        .hero2-content {
            position: relative;
            z-index: 2;
        }




